*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --blog-post-gap-size: 3rem;
    --blog-post-line-height: calc(var(--blog-post-gap-size) * 2)
}

body {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: lightcoral;
}

.col {
    height: 100%;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
}

#input {
    height: 100px;
    display: flex;
    /* horizontally */
    justify-content: center;
    /* vertically */
    align-items: center;
}

.blog-feed {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--blog-post-gap-size);
    width: 100%;
    justify-content: center;
}

.blog-post {
    display: block;
    height: 5rem;
    width: 75%;
    border-radius: 0.5rem;
    background-color:lightcyan;
    text-align: center;
    margin: auto;
    box-shadow: 1px 2px 2px;
}

.blog-post:not(:first-child)::before {
    content: "";
    position: absolute;
    height: var(--blog-post-line-height);
    width: 0.125rem;
    transform: translateY(calc(-1 * var(--blog-post-line-height)));
    left: 50%;
    z-index: -1;
    background-color:rgb(106, 110, 114);
}