body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye-container {
    height: 25vh;
    display: flex;
    /* background-color: darkcyan; */
    align-items: center;
}


.eye {
    scale: 0.3;
}